<?xml version="1.0" encoding="UTF-8"?>
<Configuration configDebug="true" monitorInterval="3">
    <Properties>
        <Property name="logFolder">/tmp/log</Property>

        <Property name="hibernatefilename">hibernate.log</Property>
        <Property name="servicefilename">service.log</Property>
        <Property name="springbootdebug">spring-boot.log</Property>
        <Property name="springdebug">spring-debug.log</Property>
        <Property name="springweb">spring-web.log</Property>

        <Property name="LOG_JDBC_LEVEL">WARN</Property>
        <Property name="LOG_SQL_LEVEL">WARN</Property>
        <Property name="LOG_ENTITY_LEVEL">WARN</Property>

        <Property name="LOG_TRANS_LEVEL">WARN</Property>
        <Property name="LOG_TRANS_SYNC_LEVEL">WARN</Property>

        <Property name="LOG_MVC_LEVEL">WARN</Property>
        <Property name="LOG_SECURITY_LEVEL">WARN</Property>
        <Property name="LOG_APP_LEVEL">WARN</Property>

        <Property name="LOG_SPRING_LEVEL">WARN</Property>
        <Property name="LOG_BEANS_LEVEL">WARN</Property>
        <Property name="LOG_BEANS_CACHED_LEVEL">WARN</Property>

    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">

            <Filters>
                <MarkerFilter marker="SECURITY" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="DEBUG" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="SECURITY_AUTH" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="OBJECT_MAPPER" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>

            <PatternLayout>
                <MarkerPatternSelector defaultPattern="[%-5level] %c{1.} %msg%n">
                    <PatternMatch key="SECURITY_AUTH" pattern="[%-5level] %c{1.} ====== %C{1.}.%M:%L %msg ======%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>

        <!--<File name="FileHibernate" fileName="${sys:logFolder}/${hibernatefilename}" append="false">-->
            <!--<PatternLayout pattern="[%t] %-5level %logger{2.1.} - %msg%n"/>-->
        <!--</File>-->

        <!--<File name="FileService" fileName="${sys:logFolder}/${servicefilename}" append="false">-->
            <!--<PatternLayout pattern="[%t] %-5level %logger{2.1.} - %msg%n"/>-->
        <!--</File>-->

        <!--<File name="FileSpringDebug" fileName="${sys:logFolder}/${springdebug}" append="false">-->
            <!--<PatternLayout pattern="%-5level %c %msg%n"/>-->
        <!--</File>-->

        <!--<File name="FileSpringBootDebug" fileName="${sys:logFolder}/${springbootdebug}" append="false">-->
            <!--<PatternLayout pattern="%-5level %c %msg%n"/>-->
        <!--</File>-->

        <File name="FileSpringWeb" fileName="${sys:logFolder}/${springweb}" append="false">
            <PatternLayout pattern="%msg%n"/>
        </File>

    </Appenders>

    <Loggers>


        <logger name="com.pliesveld.flashnote" level="${sys:LOG_APP_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>


        <logger name="org.hibernate.SQL" level="${sys:LOG_SQL_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="javax.persistence.Entity" level="${sys:LOG_ENTITY_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="INFO" additivity="false">
            <AppenderRef ref="FileSpringWeb"/>
        </logger>

        <logger name="org.springframework.transaction.interceptor" level="${sys:LOG_TRANS_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.web.servlet.mvc" level="${sys:LOG_MVC_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.web.servlet.handler" level="${sys:LOG_MVC_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.security" level="${sys:LOG_SECURITY_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.jdbc.core" level="${sys:LOG_JDBC_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.transaction.support.TransactionSynchronizationManager" level="${sys:LOG_TRANS_SYNC_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework" level="${sys:LOG_SPRING_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.beans" level="${sys:LOG_BEANS_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.beans.CachedIntrospectionResults" level="${sys:LOG_BEANS_CACHED_LEVEL}" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>

        <!--
            <logger name="org.springframework.boot.autoconfigure.logging.AutoConfigurationReportLoggingInitializer" level="DEBUG" additivity="false">
                <AppenderRef ref="FileSpringBootDebug"/>
            </logger>

            <logger name="org.springframework.security.web.access.expression.ExpressionBasedFilterInvocationSecurityMetadataSource" level="DEBUG" additivity="false">
                <AppenderRef ref="FileSpringSelect"/>
            </logger>
        -->

        <Root level="WARN">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
